body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 245, 224);

}

.top-section{
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    margin-left: 50px;
    font-size: 25px
}

.middle-section{
    display: flex;
    gap: 40px;
}

.page-content{
    display: flex;
    gap: 40px;
}

.transfers{
    display: flex;
}



.page-overview{
    margin-left: 18rem;
}


/* nav bar */

.navbar-list{
    list-style: none;
    position: fixed;
}

.items{
    font-size: 25px;
    margin: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav-image{
    width: 40px;
}

.items:hover{
    text-decoration: underline #ccc;
}


a{
    text-decoration: none;
    color: black;
}

.navbar-list .items a.active{
      color: rgb(20, 96, 143)
}


/*content */
.page-overview{
    background-color: hsla(0, 0%, 100%, 0.801);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.349);
}


.page-name{
    font-size: 40px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 12px;
    font-weight: bold;
}


.transfers{

    padding: 20px;
    display: flex;
    gap: 40px;
}



.income:hover , .expense:hover , .budget:hover{
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.301);
}




.income-value, .expense-value , .budget-value{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

/* recent transactions */





/* quick buttons */
.quick-buttons{
    background-color: rgb(224, 245, 224);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    gap: 10px;
    text-align: left;
    align-items: center;
}




.quick-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}





/* summary section in index-page */
.summary{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.summary-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.this-month{
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-top: 4px;
}

.summary-descri{
    background-color: hsl(133, 41%, 70%);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 12px;
    min-width: 220px;
}

.summary-descri:hover{
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.301);
}

.desc-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 8px;
}


/* CHANGES IN THE DASHBOARD */


.bento-container{
    display: flex;
    padding-left: 10px;
}

.money-grid{
    display: flex;
    gap: 20px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary-grid{
    display: flex;
    gap: 20px;
}

.incomeDisplay-index, .expenseDisplay-index, .balanceDisplay-index{
    background-color: rgb(197, 248, 197);
    display: flex;
    margin: 0;
    padding: 20px;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.342);
}

.incomeDisplay-index:hover , .expenseDisplay-index:hover , .balanceDisplay-index:hover{
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.658);
    background-color: rgb(164, 243, 164);
}

.image {
    background-color: rgb(113, 196, 131);
    padding: 6px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px black;
}


.income-text{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: rgb(32, 88, 0);
}

.expenseDisplay .income-text{
    color: rgba(216, 0, 0, 0.842);
}

.balanceDisplay .income-text{
    color: rgba(0, 0, 255, 0.623);
}


/* recent transaction */
.transaction-grid{
    background-color: rgb(173, 247, 173);
    padding: 20px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.342);
    margin-bottom: 20px;
}

.recent-text, .weekly-text, .budget-text{
    margin: 0px;
    font-weight: bold;
    font-size: 24px;
}

.recent-text:hover, .weekly-text:hover, .budget-text:hover{
    text-decoration: underline solid grey;
}

.audits{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  margin: 0px;
  align-items: center;
}

.transaction:hover{
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.301);
}

.icon {
  width: 40px
}

.usage {
  font-weight: bold;
  margin: 0;
  display: block;
  min-width: 100px;
  text-align: center;
}

.Time {
  font-size: 0.9rem;
  margin: 2px 0 0;
}

.amount {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  display: block;
  min-width: 100px;

}

/* summary container */
.amount-container{
    display: flex;
    justify-content: space-between;
}

.monthlyDisplay, .yearlyDisplay{
    background-color: hsl(133, 41%, 70%);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 12px;
    min-width: 380px;
    max-width: 380px;
}
/* graph */
.graphDisplay{
    margin-left: 30px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(173, 247, 173);
    margin-bottom: 20px;
}
/* budget */
.budgetDisplay{
   margin-left: 30px;
   background-color: rgb(173, 247, 173);
   padding:20px;
   border-radius: 10px;
}
.category-container{
    position: relative;
    left: -300px;
    top: 5px;
    font-size: 16px;
}

.budget-text{
    padding-bottom: 5px;
}

/* buttons */


.add-expense{
    display: flex;
    padding: 4px 26px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(164, 247, 164);
    gap: 10px;
    box-shadow: 0px 2px 2px black ;
}


.income-btn, .expense-btn{
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

.buttons-container{
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0px;
}

.add-expense:hover{
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.658);
    background-color: rgb(141, 250, 141);
}


/* transaction-page */
.transaction-container{
    display: flex;
}


.filter{
    max-height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(189, 236, 182);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border-radius: 10px;

}

.filter-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-name{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline solid #5e1717;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.filter-form select{
    font-size: 16px;
    padding: 6px 10px;
    background-color: #ffffff;
    margin-top: 8px;
    min-width:12rem ;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px  rgba(0, 0, 0, 0.651);
} 
.filter-form select:focus{
    border: 1px solid #aaf3c9; /* your custom focus border color */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2); /* optional soft glow */
}


.filter-form button{
    margin-top: 4px;
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: white;
}

.filter-form button:hover{
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 2px black;
}




/* here is the code for all the changes in the stats page */

.reportCards{
    display: flex;
    max-height: fit-content ;
}

.monthlyCard , .yearlyCard, .allTimeCard{
    display: flex;
    flex-direction: column;
    margin: 20px; 
    padding: 0px 20px;
    background-color: rgb(186, 253, 186); 
    border-radius: 10px; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.349); 
    min-width: 12rem;
    padding-bottom: 8px;
    max-height: fit-content;

}

.reportName{
    display: flex;
    font-weight: bold;
    font-size: 24px;
    align-content: center;
    gap: 4px;
    text-decoration:underline hsla(0, 0%, 50%, 0.342);
    margin: 0;
}

.displayIncome{
    margin: 0;
    padding: 0;
}


.incomeTextDisplay{
    color: rgb(32, 88, 0);
    font-weight: bold;
    
}

.expenseTextDisplay{
    font-weight: bold;
    color: rgba(255, 0, 0, 0.726);

}

.balanceTextDisplay{
    font-weight: bold;
    color: rgba(0, 0, 255, 0.623);
    padding-bottom: 0;
}

.balanceDisplay,.expenseDisplay, .incomeDisplay{
    margin: 0;
    margin-bottom: 20px;
}

.incomeTextDisplay, .expenseTextDisplay, .balanceTextDisplay{
    margin:0;
    margin-top: 12px;
}



.top-section{
    display: flex;
    flex: 1;
    gap: 30px;
}

.bottom{
    display: flex;
    gap: 7rem;
    margin-left: 5rem;
}

.chartName{
    font-size: 24px;
    font-weight: bold;
}



/* transaction page */

.transaction-page-name{
    margin-bottom: 20px;
}

.total-transaction{
    padding: 16px 32px;
    min-width: 500px;
    display: flex;
    gap: 50px;
    border-radius: 10px;
}


.transaction.expense {
  background-color: #ffe5e5;
  border-left: 5px solid #e74c3c;
}

.transaction.income {
  background-color: #e5ffe5;
  border-left: 5px solid #2ecc71;
}

.text-container{
    display: flex;
    justify-content: space-between;
}

.transaction-audits{
    display: flex;
    gap: 8px;
    background-color: rgb(241, 241, 241);
    padding: 1.2em;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.651);
}



.userinput{
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 12px;
    border-color: hsla(108, 10%, 10%, 0.932);
    border-style: solid;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.transaction-overview{
    min-width: fit-content;
}

.errordisplay{
    font-size: 20px;
    padding: 10px;
    background-color: hsl(120, 63%, 62%);
    border-radius: 8px;
    color: rgb(2, 66, 2);
}

.edit-btn{
    background-color: rgb(166, 240, 166);
    padding: 10px;
    border-radius: 10px;
}

.delete-btn{
    background-color: rgb(255, 100, 94);
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px;
}


/* Budget page */



.budget-container{
    width: 1400px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.weekly-display, .monthly-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}




.progress-container{
    display: flex;
    gap: 10px;
}

.progress-bar-detials{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.progress-details-top, .progress-details-bottom{
    display: flex;
    width: 600px;
    justify-content: space-between;
    
}

.progress-bar{
    height: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background-color: rgba(43, 173, 4, 0.836);
    transition: width 0.4s ease-in-out;
}




.middle{
    background-color: rgb(164, 240, 164);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.205);
    margin-bottom: 20px;
}

.middle:hover{
    background-color: rgb(144, 240, 144);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.493);
}

.heading{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.category{
    font-size: 20px;
    margin-bottom: 8px;
}

.starting-date, .progress-percentage ,.ending-date, .starting-amount, .spent-amount, .ending-amount{
    font-size: 16px;
}

.left-amount {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.add-budget{
    margin: 0px;
}

.buttons{
    display: flex;
    gap: 10px;
    justify-content:flex-end;
    margin: 0px;
}

.edit-button,.del-button{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
    background-color: rgb(70, 243, 148);
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 2px 1px rgba(131, 84, 84, 0.555);
}

.edit-button:hover{
    background-color: hsla(147, 95%, 50%, 0.562);
}

.del-button{
    background-color: #f36363;
}

.bottom-buttons{
    display: flex;
    justify-content: space-between;
}

.top-heading{
    display: flex;
    justify-content: space-between;
}

.add-form{
    border: none;
    font-size: 20px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: rgb(2, 39, 2);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 12px;
}

.add-form:hover{
    background-color: hsla(120, 90%, 8%, 0.849);
}

.budget-submit{
    border: none;
    font-size: 20px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: rgb(2, 39, 2);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 12px;
}




