body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 245, 224);
}

.top-section{
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    margin-left: 50px;
    font-size: 25px
}

.middle-section{
    display: flex;
    gap: 40px;
}

.page-content{
    display: flex;
    gap: 40px;
}

.transfers{
    display: flex;
}






/* nav bar */

.navbar-list{
    list-style: none;
}

.items{
    font-size: 25px;
    margin: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav-image{
    width: 40px;
}


a{
    text-decoration: none;
    color: black;
}

.navbar-list .items a.active{
      color: rgb(20, 96, 143)
}


/*content */
.page-overview{
    background-color: hsla(0, 0%, 100%, 0.801);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.349);
}


.page-name{
    font-size: 40px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 12px;
    font-weight: bold;
}


.transfers{

    padding: 20px;
    display: flex;
    gap: 40px;
}

.income, .expense, .budget{
    background-color: rgb(224, 245, 224);
    display: flex;
    margin: 0;
    padding: 30px;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
}

.image {
    background-color: rgb(144, 209, 158);
    padding: 10px;
    border-radius: 20px;
    width: 100px;
}

.income-text{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.income-value, .expense-value , .budget-value{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

/* recent transactions */

.audits{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background: #daf0e3;
  border-radius: 8px;
  gap: 120px;
}

.icon {
  width: 40px;
  flex-shrink: 0;
}

.usage {
  flex: 2;
  min-width: 120px;
}

.time {
  flex: 2;
  min-width: 150px;
  color: #666;
  font-size: 0.9rem;
}

.amount {
    
  min-width: 80px;
  text-align: right;
  font-weight: bold;
}

.menu-icon {
  width: 30px;
  flex-shrink: 0;
}




/* quick buttons */
.quick-buttons{
    background-color: rgb(224, 245, 224);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    gap: 10px;
    text-align: left;
    align-items: center;
}

.quick-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}


.add-expense{
    display: flex;
    padding: 10px 20px;
    background-color: hsl(133, 41%, 70%);
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
}



.income-btn, .expense-btn{
    border: none;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: hsl(133, 41%, 70%);
}

.expense-btn{
    padding: 10px;
}

.add-expense:hover{
     background-color: hsl(133, 41%,80%);
}


.add-expense:hover .income-btn  {
    background-color: hsl(133, 41%,80%);
}

.add-expense:hover .expense-btn{
    background-color: hsl(133, 41%,80%);
}




/* here is the code for all the changes in the stats page */

.reportCards{
    display: flex;


}

.monthlyCard , .yearlyCard, .allTimeCard{
    display: flex;
    flex-direction: column;
    margin: 20px; 
    padding: 32px;
    background-color: rgb(207, 241, 207); 
    border-radius: 10px; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.349); 
}

.reportName{
    display: flex;
    font-weight: bold;
    font-size: 24px;
    align-content: center;
    gap: 4px;
    text-decoration:underline hsla(0, 0%, 50%, 0.342);
}


.incomeTextDisplay{
    color: rgb(32, 88, 0);
    font-weight: bold;
}

.expenseTextDisplay{
    font-weight: bold;
    color: rgba(255, 0, 0, 0.726);
}

.balanceTextDisplay{
    font-weight: bold;
    color: rgba(0, 0, 255, 0.623);
    padding-bottom: 0;
}

.balanceDisplay,.expenseDisplay, .incomeDisplay{
    margin: 0;
    margin-bottom: 20px;
}

.incomeTextDisplay, .expenseTextDisplay, .balanceTextDisplay{
    margin:0;
    margin-top: 12px;
}



.top-section{
    display: flex;
    flex: 1;
    gap: 30px;
}

.bottom{
    display: flex;
    gap: 7rem;
    margin-left: 5rem;
}

.chartName{
    font-size: 24px;
    font-weight: bold;
}



/* transaction page */

.transaction-page-name{
    margin-bottom: 20px;
}

.total-transaction{
    padding: 16px 32px;
    min-width: 500px;
}


.transaction.expense {
  background-color: #ffe5e5;
  border-left: 5px solid #e74c3c;
}

.transaction.income {
  background-color: #e5ffe5;
  border-left: 5px solid #2ecc71;
}

.text-container{
    display: flex;
    justify-content: space-between;
}



.userinput{
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 12px;
    border-color: hsla(108, 10%, 10%, 0.932);
    border-style: solid;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.transaction-overview{
    min-width: 1000px;
}

.errordisplay{
    font-size: 20px;
    padding: 10px;
    background-color: hsl(120, 63%, 62%);
    border-radius: 8px;
    color: rgb(2, 66, 2);
}

.edit-btn{
    background-color: rgb(166, 240, 166);
    padding: 10px;
    border-radius: 10px;
}

.delete-btn{
    background-color: rgb(255, 100, 94);
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px;
}


/* Budget page */

.budget-container{
    width: 1400px;
    padding: 40px;
    margin-bottom: 20px;
}

.weekly-display, .monthly-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.monthly-display{
    margin-top: 20px;
}


.progress-container{
    display: flex;
    gap: 10px;
}

.progress-bar-detials{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.progress-details-top, .progress-details-bottom{
    display: flex;
    width: 600px;
    justify-content: space-between;
    
}

.progress-bar{
    height: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background-color: rgba(43, 173, 4, 0.836);
    transition: width 0.4s ease-in-out;
}




.middle{
    background-color: rgb(181, 245, 181);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.205);
    margin-bottom: 20px;
}

.heading{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.category{
    font-size: 20px;
    margin-bottom: 8px;
}

.starting-date, .progress-percentage ,.ending-date, .starting-amount, .spent-amount, .ending-amount{
    font-size: 16px;
}

.left-amount {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.add-budget{
    margin: 0px;
}

.buttons{
    display: flex;
    gap: 10px;
    justify-content:flex-end;
    margin: 0px;
}

.edit-button,.del-button{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
    background-color: rgb(70, 243, 148);
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 2px 1px rgba(131, 84, 84, 0.555);
}

.edit-button:hover{
    background-color: hsla(147, 95%, 50%, 0.562);
}

.del-button{
    background-color: #f36363;
}

.bottom-buttons{
    display: flex;
    justify-content: space-between;
}

.top-heading{
    display: flex;
    justify-content: space-between;
}

.add-form{
    border: none;
    font-size: 20px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: rgb(2, 39, 2);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 12px;
}

.add-form:hover{
    background-color: hsla(120, 90%, 8%, 0.849);
}

.budget-submit{
    border: none;
    font-size: 20px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: rgb(2, 39, 2);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 12px;
}