body{
    background-color: rgb(224, 245, 224);
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form{
    background-color: hsla(0, 0%, 100%, 0.801);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 4%, 15%, 0.555);
}


h2{
    font-size: 2.5rem;
    padding: 20px;
}

#description {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
}

.category, .amount{
    font-size: 20px;
}

.category{
    margin-bottom: 20px;
}

#submit{
    font-size: 1rem;
    margin: 20px;
    padding: 7px 15px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    background-color: rgb(144, 209, 158);
}

#submit:hover{
    background-color: hsla(133, 41%, 69%, 0.719)
}


.empty-2 {
    color: red;
    font-size: 15px;
    text-align: left;
    margin: 0;
}


.empty-1{
    color: red;
    font-size: 15px;
}

